* {
    /* (*) Usamos para informar que existem itens que irão recair sobre todo o HTML*/
    margin: 0;
    /*zerando a margin do site*/
    padding: 0;
    /*zerando o preenchimento*/
    list-style: none;
    /* usado para retirar os estilos das listas*/
    text-decoration: none;
    /*decoração do texto (sublinhado) desabilitado*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*utilizado para mudar a fonte dos textos*/
}

header {
    /*chamando nosso header para estilização*/
    background-color: #f5e1a4;
    /*hablitando uma cor no fundo */
    padding: 15px;
    /*colocando um tamanho no nosso header*/
    display: flex;
    /*tornando nosso header flex*/
    justify-content: space-between;
    /*justificativa do conteúdo, podendo alterar do nosso modo*/
    align-items: center;
    /*alinhando na vertical, deixando no centro */
}

header h1 {
    /*chamando nosso primeiro título para estilização*/
    color: #bc162a;
    /*trocando a cor do texto*/
}


header img {
    /*chamando nossa imagem do header para estilização*/
    width: 100px;
    /*tamanho da imagem*/
    height: auto;
    /*dando uma altura automatico para a imagem*/
}

header nav ul {
    /*chamando nossa ul para estilização*/
    display: flex;
    /*deixando a ul flex*/

}

header div nav ul li {
    /*chamando nossa li (texto da lista) para estilização*/
    margin-right: 10px;
    /*espaçamento das li*/
    /*chamando nossa Âncora para estilização*/
    color: #bc162a;
    /*dando uma cor para o texto na Âncora*/
}

header nav ul li a {
    /*chamando nossa Âncora para estilização*/
    color: #bc162a;
    /*dando uma cor para o texto na Âncora*/
}

header div nav ul li a:hover {
    /*hover é utilizado para mudarmos algo quando passamos o mouse em cima de algum item*/
    color: #302325;
    /*dando uma cor*/
    transition: 1s; /*Transição do elemento*/
}

.sessao1 {
    /*chamando a sessão para estilização (utilizando o class)*/
    background-color: #d9d593;
    /*hablitando uma cor no fundo */
    background-image: url(imagens/uva2.jpg);
    /*inserindo uma imagem de fundo*/
    background-repeat: no-repeat;
    /*Para que a imagem não se repita*/
    background-size: cover;
    /*utilizado para que a iamgem ocupe todo espaço disponível*/
    padding: 300px;
    /*Dando um tamnho para nossa sessão*/

    display: flex;
    /*tornando nossa sessão flex*/
    justify-content: center;
    /*justificativa do conteúdo, podendo alterar do nosso modo*/
    align-items: center;
    /*alinhando na vertical, deixando no centro */
}

.sessao1 button {
    /*chamando o botão para estilização (utilizando o class)*/
    width: 250px;
    /*Tamanho do botão*/
    height: 50px;
    /*altura da sessão*/
    background-color: rgba(255, 255, 255, 0.404);
    /*hablitando uma cor no fundo */
    border-radius: 10px;
    /*Arredondamrnto do botão*/

}

.sessao1 button:hover {
    /*hover é utilizado para mudarmos algo quando passamos o mouse em cima de algum item*/
    background-color: #d9d593;
    /*hablitando uma cor no fundo */
    transition: 0.8s;
    /*colocando uma transição, deixando mais fluido*/
    color: red;
    /*dando uma cor para o botão*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*utilizado para mudar a fonte dos textos*/
    cursor: pointer;
    /*mudando icone do cursor quando passar em cima de algo*/
}

.sessao2 {
    /*chamando a segunda sessão para estilização (utilizando o class)*/
    background-color: #ee7f27;
    /*hablitando uma cor no fundo */
    padding: 300px;
    /*Dando um tamnho para nossa sessão*/
    display: flex;
    /*tornando nossa sessão flex*/
    justify-content: space-evenly;
    /*justificativa do conteúdo, podendo alterar do nosso modo*/
    align-items: center;
    /*alinhando na vertical, deixando no centro */
}

.sessao2 img {
    /*chamando a imagem da segunda sessão para estilização*/
    width: 450px;
    /*tamanho da imagem*/
    height: auto;
    /*Altura da imagem*/
    border-radius: 10px;
    /*Arredondamrnto da imagem*/
    margin: 15px;
    /*Colocando uma margem para todos os lados da imagem*/

}

.sessao2 img:hover {
    /*hover é utilizado para mudarmos algo quando passamos o mouse em cima de algum item*/
    width: 460px;
    /*tamanho da imagem*/
    transition: 1s;
    cursor: pointer;
}


.sessao2 h2 {
    /*chamando o título da segunda sessão para estilização*/
    font-size: 30px;
    /*Tamanho do texto*/

}

.sessao2 p {
    /*chamando o parágrafo da segunda sessão para estilização*/
    color: #bc162a;
    /*Cor do texto do parágrafo*/
    font-size: 20px;
    /*Tamnho do texto*/
    margin-top: 15px;
    /*Colocando uma margem na parte superior do parágrafo*/
    font-weight: 800;
}


.sessao3 {
    /*chamando a terceira sessão para estilização*/
    background-color: #bc162a;
    /*hablitando uma cor no fundo */
    padding: 300px;
    /*Dando um tamnho para nossa sessão*/
    background-image: url(imagens/morango1.jpg);
    /*inserindo uma imagem de fundo*/
    background-repeat: no-repeat;
    /*Para que a imagem não se repita*/
    background-size: cover;
    /*utilizado para que a iamgem ocupe todo espaço disponível*/
    background-attachment: fixed;
    /*Efeito para que a imagem não se mova quando eu estiver navegando na página*/
}

.sessao3 h3 {
    /*chamando o título da terceira sessão para estilização*/
    display: flex;
    /*tornando nosso título flex*/
    justify-content: center;
    /*justificativa do conteúdo, podendo alterar do nosso modo*/
    align-items: center;
    /*alinhando na vertical, deixando no centro */
    color: beige;
    /*Cor do texto do título*/
    font-weight: 800;
}


footer {
    /*chamando o footer para estilização*/
    background-color: #302325;
    /*hablitando uma cor no fundo */
    padding: 30px;
    /*Dando um tamnho para nosso footer*/
    display: flex;
    /*tornando nosso footer flex*/
    justify-content: center;
    /*justificativa do conteúdo, podendo alterar do nosso modo*/
    align-items: center;
    /*alinhando na vertical, deixando no centro */
}

footer div ol {
    /*chamando nossa ol do footer para estilização*/
    display: flex;
    /*tornando nossa ol flex*/
}

footer div ol li a {
    /*chamando nossa Âncora para estilização*/
    color: beige;
    /*Cor do texto da Âncora*/
    display: flex;
    /*tornando nossa Âncora flex*/
    justify-content: space-between;
    /*justificativa do conteúdo, podendo alterar do nosso modo*/
    margin-right: 30px;
    /*Espaçamento entre as ol*/
}

footer div ol li a:hover {
    /*hover é utilizado para mudarmos algo quando passamos o mouse em cima de algum item*/
    color: #bc162a;
    /*Cor do texto*/
    transition: 0.8s;
    /*Transição*/
}


footer i{ /*Estilizando ícone*/
    color: black; /*Cores do ícone*/
    font-size: 40px; /*Tamanho do ícone*/
    background-color: white; /*Cor de fundo do elemento*/
    padding: 20px; /*Preenchimento da caixa*/
    border-radius: 31px; /*Arredondamento da caixa*/
}

footer i:hover{ /*Aplicando o efeito ao passar o Mouse*/
    background-color: darkgreen; /*Cor de fundo*/
    transition: 0.7s; /*Transição do elemento*/
}





/*ESTILIZAÇÃO TELA 2*/


.tela2-section1{ /*Chamando sessão 1 para estilização*/
    background-image: url(imagens/apples-1872997_1280.jpg); /*Inserindo uma imagem de fundo*/
    padding: 300px; /*Dando um tamanho pra sessão*/
    background-repeat: no-repeat;  /*Para que a imagem não se repita*/
background-size: cover; /*Fazendo a imagem preencher todo o espaço disponível*/
background-position: center;  /*Alinhando a imagem no centro*/
}

.tela2-section1 p{ /*   Chamando nossa paragrafo para estilização*/
    font-size: 40px; /*Tamanho do texto*/
    color: white; /*Cor do texto*/
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}


.tela2-section1 span{
    color: #bc162a;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*Lexend fonte escolhida*/
}

.tela2-section2 { /*Chamando a sessão 2 para estilização*/
padding: 300px; /*Dando um tamanho pra sessão*/
background: linear-gradient(180deg, #ff2c69 , #ff2c69 100%)   /*Cor de fundo da sessão*/

}

.div-pai{ /*Div pai - Dentro dele existem 3 caixas*/
margin-bottom: 10px; /*Dando um espaço na parte de baixo da caixa*/
  display: flex; /*Tornando os itens flex, deixando as caixas lado a lado*/
  justify-content: center /*Justificando os itens ao centro*/
}

.div-pai div{ /*Estilização das caixas (Div filho)*/
    width: 200px; /*Largura da caixa*/
    height: 280px; /*Altura da caixa*/
  background-color: #bc162a;
    margin-right: 20px; /*Dando um espaço na direta da caixa*/
    border-radius: 10px; /*Arrendondamento da caixa*/
}

.div-pai .filho1{ /*Chamando a div filho1 para estilização*/
    background-image: url(imagens/berries-6523899_1280.jpg); /*Inserindo uma imagem de fundo*/
    background-position: center; /*Alinhando a imagem no centro*/
    background-size: cover; /*Fazendo a imagem preencher todo o espaço disponível*/
    border: solid 2px #302325 /*Colocando uma borda com cor na imagem*/
}

.div-pai .filho1:hover{ /*Hover utilizamos para mudar algo quando passamos o mouse em cima da caixa*/
 cursor: pointer; /*mudando icone do cursor quando passar em cima de algo*/
 width: 210px; /*Largura da caixa*/
 height: 290px; /*Altura da caixa*/
 transition: 0.8s /*Transição do elemento*/
 
}

.div-pai .filho2{ /*Chamando a div filho 2 para estilização*/
background-image: url(imagens/bananas-5969730_1280.jpg); /*Inserindo uma imagem de fundo*/
background-size: cover; /*mudando icone do cursor quando passar em cima de algo*/
background-position: center; /*Alinhando a imagem no centro*/
border: solid 2px #302325 /*Colocando uma borda com cor na imagem*/
}

.div-pai .filho2:hover{ /*Hover utilizamos para mudar algo quando passamos o mouse em cima da caixa*/
 cursor: pointer; /*mudando icone do cursor quando passar em cima de algo*/
 width: 210px; /*Largura da caixa*/
 height: 290px; /*Altura da caixa*/
 transition: 0.8s /*Transição do elemento*/
}


.div-pai .filho3{
    background-image: url(imagens/kiwi-5470113_1280.jpg); /*Inserindo uma imagem de fundo*/
    background-size: cover; /*mudando icone do cursor quando passar em cima de algo*/
    background-position: center; /*Alinhando a imagem no centro*/
    border: solid 2px #302325  /*Colocando uma borda com cor na imagem*/
}

.div-pai .filho3:hover{ /*Hover utilizamos para mudar algo quando passamos o mouse em cima da caixa*/
cursor: pointer; /*mudando icone do cursor quando passar em cima de algo*/
 width: 210px; /*Largura da caixa*/
 height: 290px; /*Altura da caixa*/
 transition: 0.8s /*Transição do elemento*/
}



.div-pai2 .filho4{
    background-image: url(imagens/watermelon-5484460_1280.jpg); /*Inserindo uma imagem de fundo*/
    background-size: cover; /*mudando icone do cursor quando passar em cima de algo*/
    background-position: center; /*Alinhando a imagem no centro*/
    border: solid 2px #302325 /*Colocando uma borda com cor na imagem*/
}

.div-pai2 .filho4:hover{ /*Hover utilizamos para mudar algo quando passamos o mouse em cima da caixa*/
 cursor: pointer; /*mudando icone do cursor quando passar em cima de algo*/
 width: 210px; /*Largura da caixa*/
 height: 290px; /*Altura da caixa*/
 transition: 0.8s /*Transição do elemento*/
}


.div-pai2 .filho5{
background-image: url(imagens/lemon-1121636_640.jpg); /*Inserindo uma imagem de fundo*/
background-size: cover; /*mudando icone do cursor quando passar em cima de algo*/
    background-position: center; /*Alinhando a imagem no centro*/
    border: solid 2px #302325 /*Colocando uma borda com cor na imagem*/
}

.div-pai2 .filho5:hover{ /*Hover utilizamos para mudar algo quando passamos o mouse em cima da caixa*/
 cursor: pointer; /*mudando icone do cursor quando passar em cima de algo*/
 width: 210px; /*Largura da caixa*/
 height: 290px; /*Altura da caixa*/
 transition: 0.8s /*Transição do elemento*/
}

.div-pai2 .filho6{
    background-image: url(imagens/this-2455298_1280.jpg); /*Inserindo uma imagem de fundo*/
    background-size: cover; /*mudando icone do cursor quando passar em cima de algo*/
    background-position: center; /*Alinhando a imagem no centro*/
    border: solid 2px #302325 /*Colocando uma borda com cor na imagem*/
}

.div-pai2 .filho6:hover{ /*Hover utilizamos para mudar algo quando passamos o mouse em cima da caixa*/
 cursor: pointer; /*mudando icone do cursor quando passar em cima de algo*/
 width: 210px; /*Largura da caixa*/
 height: 290px; /*Altura da caixa*/
 transition: 0.8s /*Transição do elemento*/
}





.div-pai2{ /*Div pai - Dentro dele existem 3 caixas*/

    display: flex; /*Deixando os itens flex, deixando as caixas lado a lado*/
    justify-content: center /*Justicando os itens ao centro*/
}

.div-pai2 div{ /*Estilização das caixas (Div filho)*/
    width: 200px; /*Largura da caixa*/
    height: 280px; /*Altura da caixa*/
    background-color:  #d9d593; /*Cor de fundo da caixa*/
    margin-right: 20px; /*Dando espaço na parte direita da caixa*/
    border-radius: 10px; /*Arredondamento da caixa*/
}


.tela2-section3{
padding: 300px;
background-color: cadetblue;
}





 footer{
    display: flex
    ;
 }

 footer a i {
    margin-right: 15px;
 }