* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header{
    background-color: #f5e1a4;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
color: #bc162a;
}


header img{
    width: 100px;
    height: auto;
}

header nav ul {
    display: flex;
    
}

header nav ul li{
 margin-right: 10px;  
}

header nav ul li a{
    color: #bc162a;
}

.sessao1{
background-color: #d9d593;
background-image: url(imagens/lemon-1121636_640.jpg);
background-repeat: no-repeat;
background-size: cover;
padding: 300px;
}

.sessao1 div button{
    width: 250px;
    height: 50px;
    background-color:  rgba(255, 255, 255, 0.404);
    border-radius: 10px;
    align-items: center;
    
}

.sessao2{
background-color: #ee7f27;
padding: 300px;
}

.sessao3{
background-color: #bc162a;
padding: 300px;
}

footer{
    background-color: #302325;
    padding: 30px;
}